<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default-layout}">
  
<head>
<th:block layout:fragment="css">
	<link rel="stylesheet" href="/css/boardInsertQna.css">
</th:block>

<th:block layout:fragment="script">
   <script type="text/javascript" th:inline="javascript">
   //글 등록
   $(function() {
        $("#btnInsert").on("click", () => {

          //입력 유효성 검사
          if($("#boardTitle").val() === "") {
            alert("제목을 입력하세요.");
            $("#boardTitle").focus();
            return;
          }

          if($("#boardContent").val() === "") {
            alert("내용을 입력하세요.");
            $("#boardContent").focus();
            return;
          }

          //ajax로 db조회
          $.ajax({
            url: "/board/board-insert",
            type: "POST",
            data: $("#insertForm").serialize(),
            success: (result) => {
              console.log(result);
              alert(result.item.msg);
              window.location.href="/board/qnaPage/1";
            },
            error: (error) => {
              console.log(error);
              alert("글 등록 실패");
            }
          });
        });
      });

   </script>
</th:block>
    
</head>

<body> 
<th:block layout:fragment="content">  
<div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
<section id="formSection">
<div id="formContainer">
  <h3 id="formTitle">새 글 등록</h3>
  <form id="insertForm" action="/board/board-insert" method="post" enctype="multipart/form-data">
    <table id="formTable">
      <tr>
        <td><input id="boardTitle" type="text" name="boardTitle" placeholder="제목을 입력해주세요."></td>
      </tr>
      <tr>
        <td><input id="boardWriter" type="text" name="boardWriter" placeholder="작성자"></td>
      </tr>
      <tr>
        <td><textarea id="boardContent" name="boardContent" cols="40" rows="10" placeholder="내용을 입력하세요."></textarea></td>
      </tr>
      <tr>
        <td>
		  <div id="image_preview">
		    <input type="file" id="btnAtt" name="uploadFiles" multiple>
		  </div>
		  <div id="attZone" style="font-size: 13px;">파일을 첨부하려면 파일선택 버튼을 누르세요.</div>
		</td>
      </tr>
      <tr>
        <td colspan="2" align="center"><button type="button" id="btnInsert">새 글 등록</button></td>
      </tr>
    </table>
  </form>
  <a id="postListLink" href="/board/qnaPage/1">글 목록</a>
</div>
</section>
</div>
</th:block>
</body> 
</html>
