<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default-layout}">
  
<head>
<th:block layout:fragment="css">
	<link rel="stylesheet" href="/css/boardDetailQna.css">
</th:block>  
</head>

<body> 
<th:block layout:fragment="content">  
		
<form id="updateForm" action="/board/board-modify" method="post" enctype="multipart/form-data">
   <div class="container py-5">
	 <input type="hidden" id="boardId" name="boardId" th:value="${board.boardId}">
      <section id="postSection">
        <div id="postContainer">
          <input id="boardTitle" name="boardTitle" th:value="${board.boardTitle}">
          <div id="postInfo">
            <span id="postWriter" th:text="'작성자: ' + ${board.boardWriter}"></span>
            <span id="postDate" th:text="'작성일: ' + ${#strings.substring(board.boardRegdate, 0, 10) }"></span>
            <span id="postViews" th:text="'조회수: ' + ${board.boardCnt}"></span>
          </div>
          <input id="boardContent" name="boardContent" th:value="${board.boardContent}">
          
          <div id="fileSection">
            <h4 style="display: inline">첨부 파일</h4>
            <!-- 첨부 파일 추가 및 삭제 버튼 추가 -->
            <button id="btnAddFile" type="button" style="float: right;">파일 추가</button>
		    <button id="btnDeleteFile" type="button" style="float: right; margin-right:5px;">파일 삭제</button> 
            <input type="file" id="fileInput" name="fileInput" style="display: none" multiple>
            <ul id="fileList" name="fileList" style="min-height:50px;">
                <!-- 첨부파일이 있으면 미리보기 제공 -->
	            <li th:each="fle : ${board.fileList}">
	            	<input type="checkbox" class="fileCheckbox" />
	            	<input type="hidden" class="fileId" th:value="${fle.id}">
	            	<img th:src="@{/board/attach/{filename}(filename=${fle.filePath})}" width="50" height="50" />
	                <span th:text="${fle.fileName}"></span>       
	            </li>
            </ul>
          </div>       
          <div id="postActions">           
            <a type="button" id="btnDelete">글 삭제</a>
            <a type="button" id="btnUpdate">수정 완료</a>
            <a type="button" id="btnList">수정 취소</a>
          </div>
        </div>
      </section>
    </div>
</form>
</th:block>

<th:block layout:fragment="script">
   <script type="text/javascript" th:inline="javascript"> 
   
   // 삭제할 항목을 저장할 배열
   let toDelete = [];
   // 추가할 파일 저장할 배열 
   let toAdd = [];
   
   $(document).ready(function() {
	   
	   
	   let boardId = $("#boardId").val();

	   // 파일 추가 버튼 눌렀을 때
	   $("#btnAddFile").click(function (){
		   console.log("dd");
	       // 파일 선택 창 열기
	       $("#fileInput").click();
	   });

	   // 사용자가 파일을 선택하면 미리보기 이미지를 보여주는 기능
	   $("#fileInput").change(function() {

		    let newFiles = Array.from(this.files);
		    toAdd = toAdd.concat(newFiles);

		    newFiles.forEach(function(file, index) {
		        let reader = new FileReader();
		        reader.onload = function(e) {
		            $("#fileList").append('<li><input type="checkbox" class="fileCheckbox" /><input type="hidden" class="fileId" value="new-' + index + '"><img src="' + e.target.result + '" width="50" height="50" /><span>' + file.name + '</span></li>');
		        }
		        reader.readAsDataURL(file);
		    });
	   });

	   // 파일 삭제 버튼 눌렀을 때 
	   $("#btnDeleteFile").click(function() {
		    if ($(".fileCheckbox:checked").length == 0) {
		        return;
		    }
		
		    if (window.confirm("정말 삭제하시겠습니까?")) {
		        $(".fileCheckbox").each(function() {
		            if ($(this).is(":checked")) {
		                const fileId = $(this).siblings(".fileId").val();
		                if (fileId.startsWith("new-")) {
		                    const index = parseInt(fileId.substring(4));
		                    if (index >= 0 && index < toAdd.length) {
		                        toAdd.splice(index, 1);
		                        $(".fileId").each(function() {
		                            const oldFileId = $(this).val();
		                            if (oldFileId.startsWith("new-")) {
		                                const oldIndex = parseInt(oldFileId.substring(4));
		                                if (oldIndex > index) {
		                                    $(this).val("new-" + (oldIndex - 1));
		                                }
		                            }
		                        });
		                    }
		                } else {
		                    if (!toDelete.includes(fileId)) {
		                        toDelete.push(fileId);
		                    }
		                }
		                $(this).parent().hide();
		            }
		        });
		    }
		});


	   //수정 완료 버튼 
	   $("#btnUpdate").click(function() {
	       if (window.confirm("변경사항을 저장하시겠습니까?")) {	
	    	   modifyBoard();
	       }
	   });

	   //수정 취소 버튼
	   $("#btnList").click(function() {
	       if (window.confirm("변경사항을 취소하시겠습니까?")) {
	    	   
	           location.href = '/board/board/' + $("#boardId").val();
	       }
	   });

	   //글 삭제 버튼 
	   $("#btnDelete").on("click", (e) => {
	       e.preventDefault();
	       if (window.confirm("정말 삭제하시겠습니까?")) {
	    	   deletBoard();
	       }
	   });

   }); 
   
   function deletBoard(){
	   $.ajax({
           url: '/board/board',
           type: 'delete',
           data: {
               boardId: $("#boardId").val()
           },
           success: (obj) => {
               console.log(obj);
               alert(obj.item.msg);
               location.href = `/board/qnaPage/1`;
           },
           error: (error) => {
               console.log(error);
           }
       });
   }
   
   function modifyBoard(){
	   let formData = new FormData();
       formData.append('board', new Blob([JSON.stringify({
           boardId: $("#boardId").val(),
           boardTitle: $("#boardTitle").val(),
           boardContent: $("#boardContent").val(),

           attachDelete: toDelete
       })], {
           type: "application/json"
       }));

       // toAdd에 있는 모든 파일을 추가
       toAdd.forEach(file => {
           formData.append('files', file);
       });

       $.ajax({
           url: "/board/board-modify",
           type: 'post',
           data: formData, 
           contentType: false,
           processData: false,
           success: (obj) => {
               console.log(obj);
               alert(obj.item.msg);
               location.href = '/board/board/' + $("#boardId").val();
           },
           error: (error) => {
               console.log(error);
           }
       });
   }
   </script>
</th:block>

</body> 
</html>
