<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default-layout}">
  
<head>
<th:block layout:fragment="css">
	<link rel="stylesheet" href="/css/boardQna.css">
</th:block>

<th:block layout:fragment="script">
   <script type="text/javascript" th:inline="javascript">
	
   //검색 기능 
   //검색 버튼 누르거나 엔터 치면 검색 되도록 
   $(function() {
    $("#search-form").submit(function(event) {
        event.preventDefault();  // 기본적인 폼 제출을 막는다.
        var keyword = document.getElementById("search-input-qna").value;
        location.href = "/board/search/1?keyword=" + encodeURIComponent(keyword);
     });
   });

   </script>
</th:block>
    
</head>

<body> 
<th:block layout:fragment="content">  
<!-- 이미지 -->
<img src="/image/qna_main.png" alt="카테고리 이미지" style="display: block; margin: auto; margin-top: 70px; max-width: 50%; height: 50%;">
<!-- 카테고리 -->
<div class="board-qna-container">
<hr class="horizontal-line">
  <div class="board-container">
    <div class="board-title">
      <button>궁금해요</button>
    </div>
    <div class="board-actions">
      <button style="left: 0;" onclick="location.href='/board/insert-board-view'">글쓰기</button>
    </div>
  </div>
  
  <hr class="horizontal-line">
  
<!-- 드롭다운 -->
<div class="options-container">
    <select name="list-options" id="list-options">
        <option value="">글 정렬</option>
        <option value="recently">최신순</option>
        <option value="older">등록순</option>
        <option value="popular">인기순</option>
    </select>
</div>

  <hr class="horizontal-line-underdropdown">
<!-- 검색창 -->
<!-- <form> 태그를 사용하면 브라우저는 기본적으로 엔터 키를 누르는 것을 "폼 제출"으로 인식하고 폼의 action 속성에 지정된 URL로 페이지를 리다이렉트 -->
<form id="search-form" action="/board/search/1" method="get" class="search-box-qna">
    <i class="fas fa-search search-icon-qna"></i>
    <input type="text" name="keyword" id="search-input-qna" placeholder="검색" />
    <button type="submit" id="search-button">검색</button>
</form>
<!-- 상단 페이징 -->
<div class="pagination-top">
    <span class="pagination-top-info" th:text="${currentPage} + ' / ' + ${totalPages} + ' 페이지'"></span>
    <div class="pagination-top-buttons">
      <button class="pagination-top-button" th:disabled="${currentPage == 1}" th:onclick="'location.href=\'/board/qnaPage/' + (${currentPage} - 1) + '\''">&larr;</button>
      <button class="pagination-top-button" th:disabled="${currentPage == totalPages}" th:onclick="'location.href=\'/board/qnaPage/' + (${currentPage} + 1) + '\''">&rarr;</button>
    </div>
</div>
<!-- 게시물 부분 -->
  <div class="board-write-container">
    <li class="board-write" th:each="board : ${qnaList}">
      <div class="post-number" th:text="${board.boardId}"></div>
      <div class="answer-count">
      	<p id="anwer-count-title">답변</p>
      	<div class="answer-count-count" th:text="${board.commentCount}"></div>
      </div>
      <div class="board-writer-title">
        <div class="author">
          <img class="profile-img" src="https://ssl.pstatic.net/static/pwe/address/img_profile.png" alt="프로필 사진">
          <div th:text="${board.boardWriter}"></div>
        </div>
        <a th:href="@{/board/board/{boardId} (boardId=${board.boardId})}" class="title" th:text="${board.boardTitle}"></a>
      </div>
      <div class="board-details">
	      <div class="view-count" th:text="'조회  ' + ${board.boardCnt}"></div>
	      <div class="reg-date" th:text="${#strings.substring(board.boardRegdate, 0, 10) }"></div>
      </div>
    </li>   
  </div>
<!-- 하단 페이징 -->
<!-- 상수로 페이지 그룹 사이즈를 설정. -->
<th:block th:with="pageGroupSize=5">
<div class="pagination-bottom">
    <button class="pagination-bottom-button pagination-button-previous" th:disabled="${currentPage <= 1}" th:onclick="'location.href=\'/board/qnaPage/' + (${currentPage} - 1) + '\''">&larr; Previous</button>
    
    <div th:each="i : ${#numbers.sequence(((currentPage-1) div pageGroupSize) * pageGroupSize + 1, (((currentPage-1) div pageGroupSize) + 1) * pageGroupSize > totalPages ? totalPages : (((currentPage-1) div pageGroupSize) + 1) * pageGroupSize)}">
        <a class="pagination-bottom-pages" th:class="${i == currentPage ? 'active' : ''}" th:href="@{/board/qnaPage/{pageNum}(pageNum=${i})}" th:text="${i}" style="margin: 0 5px;  color: black;"></a>
    </div>

    <button class="pagination-bottom-button pagination-button-next" th:disabled="${currentPage >= totalPages}" th:onclick="'location.href=\'/board/qnaPage/' + (${currentPage} + 1) + '\''">Next &rarr;</button>
</div>
</th:block>
</div>
</th:block>
</body> 
</html>
