<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default-layout}">
  
<head>
<th:block layout:fragment="css">
	<link rel="stylesheet" href="/css/boardInsertQna.css">
</th:block>

<th:block layout:fragment="script">
   <script type="text/javascript" th:inline="javascript">
   
   	//파일 이름 불러오기 
    function displayFiles(input) {
        var fileList = input.files;
        var fileNames = "";

        for (var i = 0; i < fileList.length; i++) {
            fileNames += "<li>" + fileList[i].name + "</li>";
        }

        document.getElementById("fileList").innerHTML = fileNames;
    }

 	//글 등록
   $(function() {
       $("#btnInsert").on("click", () => {
           //입력 유효성 검사
           if($("#boardTitle").val() === "") {
               alert("제목을 입력하세요.");
               $("#boardTitle").focus();
               return;
           }

           if($("#boardContent").val() === "") {
               alert("내용을 입력하세요.");
               $("#boardContent").focus();
               return;
           }
           
           //formData 객체 생성 
           var formData = new FormData($('#insertForm')[0]);
           var category = $("#boardCategory").val();
           console.log(category);

           //ajax로 db조회
           $.ajax({
               url: "/board/board-insert/" + category,
               type: "POST",
               data: formData, 
               processData: false,  //jQuery가 데이터를 쿼리 문자열로 자동 변환하는 것을 방지
               contentType: false, //브라우저가 multipart/form-data의 형태로 데이터를 인코딩하게 함
               success: (result) => {
                   console.log(result);
                   alert(result.item.msg);
                   window.location.href="/board/qnaPage/studyPage/1";
               },
               error: (error) => {
                   console.log(error);
                   alert("글 등록 실패");
               }
           });
       });    
   });


   </script>
</th:block>
    
</head>

<body> 
<th:block layout:fragment="content">  
<div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
<section id="formSection">
<div id="formContainer">
<h3 style="color: #FF8C0A; width: 100px; font-size: 14px; text-align: center; display: block; margin: 0 auto; padding: 10px; border: 2px solid #FF8C0A; border-radius: 10px; background-color: #FFF5E6; box-shadow: 3px 3px 5px rgba(0,0,0,0.2);" id="formTitle">함께해요</h3>
<p style="color: #828282; font-weight: bold; font-size: 14px; text-align: center;">스터디, 함께해요!</p>
  <form id="insertForm" action="/board/board-insert" method="post" enctype="multipart/form-data">
    <table id="formTable">
      <tr>
        <td><input id="boardTitle" type="text" name="boardTitle" placeholder="제목을 입력해주세요."></td>
      </tr>
      <tr>
        <td><input id="boardWriter" type="text" name="boardWriter" readonly th:value="${userName}"></td>
      </tr>
      <tr>
        <td><textarea id="boardContent" name="boardContent" cols="40" rows="10" placeholder="내용을 입력하세요."></textarea></td>
      </tr>
      <tr>
        <td>
        
		  <div id="image_upload">
		    <input type="file" id="btnAtt" name="uploadFiles" multiple onchange="displayFiles(this)">
		  </div>
		  <div id="attZone" style="font-size: 13px;">파일을 첨부하려면 파일선택 버튼을 누르세요.</div>
		  <ul id="fileList"></ul>
		  </div>
		</td>
      </tr>
      
      <tr>
        <td colspan="2" align="center"><button type="button" id="btnInsert">새 글 등록</button></td>
      </tr>
      
    </table>
    <input type="hidden" id="boardCategory" name="boardMaincate" value="studyPage">
  </form>
  
  <a id="postListLink" href="/board/qnaPage/studyPage/1">글 목록</a>
</div>
</section>
</div>
</th:block>
</body> 
</html>
