<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default-layout}">
  
<head>
<th:block layout:fragment="css">
	<link rel="stylesheet" href="/css/boardDetailQna.css">
</th:block>

<th:block layout:fragment="script">
   <script type="text/javascript" th:inline="javascript"> 
   $(function() {
	   //글 수정 
	   $("#btnUpdate").on("click", () => {
		   
		   const boardId = $("#boardId").val();

          $.ajax({
              url: "/board/board",
              type: 'put',
              data: $("#updateForm").serialize(),
              success: (obj) => {
                  console.log(obj);
                  alert(obj.item.msg);
                  location.href = `/board/board/${boardId}`;
              },
              error: (error) => {
                  console.log(error);
              }
          });
       });
	   
	   //글 삭제
       $("#btnDelete").on("click", (e) => {
    	   
           e.preventDefault();
           
           $.ajax({
               url: '/board/board',
               type: 'delete',
               data: {
                   boardId: $("#boardId").val()
               },
               success: (obj) => {
                   console.log(obj);
                   alert(obj.item.msg);
                   location.href = `/board/qnaPage/1`;
               },
               error: (error) => {
                   console.log(error);
               }
           });
       });
	   
       // 댓글 등록
       $("#btnComment").on("click", () => {
           const commentContent = $("#commentContent").val();

           $.ajax({
               url: '/board/comment',
               type: 'post',
               data: {
                   boardId: $("#boardId").val(),
                   commentContent: commentContent
               },
               success: (obj) => {
                   console.log(obj);
                   alert(obj.item.msg);
                   location.reload(); // 페이지 새로고침으로 댓글이 바로 보이게 설정
               },
               error: (error) => {
                   console.log(error);
               }
           });
       });

   });
   
   </script>
</th:block>
    
</head>

<body> 
<th:block layout:fragment="content">  
	
	
<form id="updateForm">
   <div class="container py-5">
	 <input type="hidden" id="boardId" name="boardId" th:value="${board.boardId}">
      <section id="postSection">
        <div id="postContainer">
          <input id="boardTitle" name="boardTitle" th:value="${board.boardTitle}">
          <div id="postInfo">
            <span id="postWriter" th:text="'작성자: ' + ${board.boardWriter}"></span>
            <span id="postDate" th:text="'작성일: ' + ${#strings.substring(board.boardRegdate, 0, 10) }"></span>
            <span id="postViews" th:text="'조회수: ' + ${board.boardCnt}"></span>
          </div>
          <input id="boardContent" name="boardContent" th:value="${board.boardContent}">
          <div id="fileSection">
            <h4>첨부 파일</h4>
            <ul id="fileList">
                <!-- 첨부파일이 있으면 이름을 표시하고 다운로드 링크를 제공 -->
	            <li th:if="${board.file}">
	            	<img th:src="@{'/upload/' + ${board.file.fileName}}" width="500">
	                <span th:text="${board.file.fileName}"></span>
	                
	            </li>
            </ul>
          </div>
          <!-- 댓글 입력 부분 -->
		  <div id="commentSection">
		   <h4>댓글 작성</h4>
		     <textarea id="commentContent" name="commentContent"></textarea>
		     <a type="button" id="btnComment">댓글 등록</a>
		  </div>
          <div id="postActions">
            <a type="button" id="btnUpdate">글 수정</a>
            <a type="button" id="btnDelete">글 삭제</a>
            <a href="/board/qnaPage/1" type="button" id="btnList">글 목록</a>
          </div>
        </div>
      </section>
    </div>
</form>
</th:block>
</body> 
</html>
