<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default-layout}">
  
<head>
<th:block layout:fragment="css">
	<link rel="stylesheet" href="/css/boardDetailQna.css">
</th:block>

<th:block layout:fragment="script">
   <script type="text/javascript" th:inline="javascript"> 
   $(function() {
	   //글 수정 
	   $("#btnUpdate").on("click", () => {
		   
		   const boardId = $("#boardId").val();

          $.ajax({
              url: "/board/board",
              type: 'put',
              data: $("#updateForm").serialize(),
              success: (obj) => {
                  console.log(obj);
                  alert(obj.item.msg);
                  location.href = `/board/board/${boardId}`;
              },
              error: (error) => {
                  console.log(error);
              }
          });
       });
	   
	   //글 삭제
       $("#btnDelete").on("click", (e) => {
    	   
           e.preventDefault();
           
           $.ajax({
               url: '/board/board',
               type: 'delete',
               data: {
                   boardId: $("#boardId").val()
               },
               success: (obj) => {
                   console.log(obj);
                   alert(obj.item.msg);
                   location.href = `/board/qnaPage/1`;
               },
               error: (error) => {
                   console.log(error);
               }
           });
       });
	   
       // 댓글 등록
       $('#btnComment').on('click', function(e) {
    	    e.preventDefault();

    	    var commentContent = $('#commentContent').val();
    	    var boardId = $("#boardId").val();

    	    $.ajax({
    	        type: 'POST',
    	        url: '/comments/' + boardId,
    	        contentType: 'application/json',
    	        data: JSON.stringify({content: commentContent,}),
    	        success: function(response) {
    	            if(response.success === "성공") {
    	            	// 댓글 작성에 성공하면 화면에 새로운 댓글을 추가.
    	                // 이를 위해 댓글을 담을 컨테이너를 준비하고, 
    	                // 해당 컨테이너에 새로 작성한 댓글의 내용을 추가.
    	                // 여기서는 #comments 라는 id를 가진 요소가 댓글 컨테이너라고 가정.

    	                var newComment = $("<div>").addClass("comment-item").append($("<div>").addClass("content").text(response.data.content));
    	                $("#comments").append(newComment);  // 댓글 컨테이너에 새 댓글 요소 추가
    	                $("#commentContent").val('');  // 댓글 입력란 초기화
    	                console.log(newComment);
    	            } else {
    	                // 에러 메시지를 사용자에게 표시
    	                alert(response.message);
    	            }
    	        },
    	        error: function(jqXHR, textStatus, errorThrown) {
    	            alert("댓글 작성에 실패하였습니다." + textStatus);
    	        }
    	    });
    	});
   });
   
	 //기존 댓글 가져와서 표시
	   $(document).ready(function(){
	       var boardId = $("#boardId").val();
	
	       $.ajax({
	           type: 'GET',
	           url: '/comments/' + boardId,
	           success: function(response){
	        	   console.log(response);
	               if (response.success === "성공") {
	                   var comments = response.data;
	                   comments.forEach(function(comment) {
	                	   // Check if comment content is undefined
	                       if (comment.content === undefined) {
	                           console.log("Undefined comment content:", comment);
	                       }
	                	   
	                       var newComment = $("<div>").addClass("comment-item").append($("<div>").addClass("content").text(comment.content));
	                       $("#comments").append(newComment);
	                       
	                       console.log("New comment:", newComment);
	                   });
	                   
	                   
	                   $("#commentContent").val('');
	                   // 댓글 등록 후 콘솔에 정보 출력
	                   console.log("댓글 등록 성공");
	                   console.log("댓글 내용:", comments);
	               } else {
	                   alert(response.message);
	               }
	           },
	           error: function(jqXHR, textStatus, errorThrown) {
	               alert("댓글 작성에 실패하였습니다. 다시 시도해주세요.");
	           }
	       });
	   });

   
   </script>
</th:block>
    
</head>

<body> 
<th:block layout:fragment="content">  
	
	
<form id="updateForm">
   <div class="container py-5">
	 <input type="hidden" id="boardId" name="boardId" th:value="${board.boardId}">
      <section id="postSection">
        <div id="postContainer">
          <input id="boardTitle" name="boardTitle" th:value="${board.boardTitle}">
          <div id="postInfo">
            <span id="postWriter" th:text="'작성자: ' + ${board.boardWriter}"></span>
            <span id="postDate" th:text="'작성일: ' + ${#strings.substring(board.boardRegdate, 0, 10) }"></span>
            <span id="postViews" th:text="'조회수: ' + ${board.boardCnt}"></span>
          </div>
          <input id="boardContent" name="boardContent" th:value="${board.boardContent}">
          <div id="fileSection">
            <h4>첨부 파일</h4>
            <ul id="fileList">
                <!-- 첨부파일이 있으면 이름을 표시하고 다운로드 링크를 제공 -->
	            <li th:if="${board.file}">
	            	<img th:src="@{'/upload/' + ${board.file.fileName}}" width="500">
	                <span th:text="${board.file.fileName}"></span>              
	            </li>
            </ul>
          </div>
          <!-- 댓글 리스트 -->
		  <div id="comments">
		      <h4>댓글 목록</h4>
		      <!-- 기존 댓글들은 여기에 표시 -->
		      <div class="comment-item" th:each="comment : ${comments}">
		          <div class="content" th:text="${comment.content}"></div>
		      </div>
		  </div>
          
          <!-- 댓글 입력 부분 -->
		  <div id="commentSection">
		   <h4>댓글 작성</h4>
		     <textarea id="commentContent" name="commentContent"></textarea>
		     <a type="button" id="btnComment">댓글 등록</a>
		  </div>
          <div id="postActions">
            <a type="button" id="btnUpdate">글 수정</a>
            <a type="button" id="btnDelete">글 삭제</a>
            <a href="/board/qnaPage/1" type="button" id="btnList">글 목록</a>
          </div>
        </div>
      </section>
    </div>
</form>
</th:block>
</body> 
</html>
