<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default-layout}">
  
<head>
<th:block layout:fragment="css">
	<link rel="stylesheet" href="/css/boardDetailQna.css">
</th:block>

<th:block layout:fragment="script">

   <script type="text/javascript" th:inline="javascript"> 
   $(function() {
	   
	   //삭제할 항목을 저장할 배열
	   let toDelete = [];
	   let boardId = $("#boardId").val();
	   
	   //파일 삭제 -> 삭제 버튼만 누르면 목록에서만 사라지고 실제로 db에서 삭제되는 건 아님
	   // "function" 키워드를 사용하여 "this"의 범위를 제한
 		$("#btnDeleteFile").on("click", function(e) {
 			const fileId = $(this).siblings(".fileId").val();
 			
 		    toDelete.push(fileId); // 삭제 배열에 파일 ID 추가
 		    $(this).parent().hide(); // 파일 항목 감추기
 		});
	   
 		// 수정 완료 버튼 클릭 이벤트
 		$("#btnUpdate").click(function() {
 			if (window.confirm("변경사항을 저장하시겠습니까?")) {	
	 		    $.ajax({
	 		        url: "/board/board",
	 		        type: 'put',
	 		        data: $("#updateForm").serialize() + "&toDeleteFileIds=" + toDelete.join(","),
	 		        success: (obj) => {
	 		            console.log(obj);
	 		            alert(obj.item.msg);
	 		            location.href = `/board/board/${boardId}`;
	 		        },
	 		        error: (error) => {
	 		            console.log(error);
	 		        }
	 		    });
 			}
 		});

 		// 수정 취소 버튼 클릭 이벤트
 		$("#btnList").click(function() {
 			if (window.confirm("변경사항을 취소하시겠습니까?")) {
	 		    toDelete = []; // 삭제 배열 초기화
	 		    $("#fileList li").show(); // 모든 파일 항목 다시 표시
	 		    location.href = `/board/board/${boardId}`;
 			}
 		});
 		
 		//파일 추가 버튼 클릭하면 파일 선택할 수 있는 것까지
 		$(".addFile").on("click", function(e) {
		    e.preventDefault();
		    $("#fileInput").click();
		});
	   
	   //글 삭제
       $("#btnDelete").on("click", (e) => {
    	   
           e.preventDefault();
           
           $.ajax({
               url: '/board/board',
               type: 'delete',
               data: {
                   boardId: $("#boardId").val()
               },
               success: (obj) => {
                   console.log(obj);
                   alert(obj.item.msg);
                   location.href = `/board/qnaPage/1`;
               },
               error: (error) => {
                   console.log(error);
               }
           });
       });
   }); 
   </script>
</th:block>
    
</head>

<body> 
<th:block layout:fragment="content">  
	
	
<form id="updateForm">
   <div class="container py-5">
	 <input type="hidden" id="boardId" name="boardId" th:value="${board.boardId}">
      <section id="postSection">
        <div id="postContainer">
          <input id="boardTitle" name="boardTitle" th:value="${board.boardTitle}">
          <div id="postInfo">
            <span id="postWriter" th:text="'작성자: ' + ${board.boardWriter}"></span>
            <span id="postDate" th:text="'작성일: ' + ${#strings.substring(board.boardRegdate, 0, 10) }"></span>
            <span id="postViews" th:text="'조회수: ' + ${board.boardCnt}"></span>
          </div>
          <input id="boardContent" name="boardContent" th:value="${board.boardContent}">
          <div id="fileSection">
            <h4>첨부 파일</h4>
            <button class="addFile" style="float: right;">파일 추가</button>
            <input type="file" id="fileInput" style="display: none">
            <ul id="fileList">
                <!-- 첨부파일이 있으면 이름을 표시하고 다운로드 링크를 제공 -->
	            <li th:each="fle : ${board.fileList}">
	            	<input type="hidden" class="fileId" th:value="${fle.id}">
	            	<img th:src="@{/board/attach/{filename}(filename=${fle.filePath})}" width="50" />
	                <span th:text="${fle.fileName}"></span> 
	                
	                <!-- 첨부 파일 추가 및 삭제 버튼 추가 -->
		            <button id="btnDeleteFile" type="button">삭제</button>            
	            </li>
            </ul>
          </div>       
          <div id="postActions">           
            <a type="button" id="btnDelete">삭제</a>
            <a type="button" id="btnUpdate">수정</a>
            <a type="button" id="btnList">취소</a>
          </div>
        </div>
      </section>
    </div>
</form>
</th:block>
</body> 
</html>
