<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default-layout}">
  
<head>
<th:block layout:fragment="css">
	<link rel="stylesheet" href="/css/fullSearch.css">
</th:block>

<th:block layout:fragment="script">
   <script type="text/javascript" th:inline="javascript">
   $(function() {
	   var slideIndex = 0;
	   var dots = document.querySelectorAll('.dot');
	   var slides = document.querySelectorAll('.slide');
	   var slider = document.querySelector('.slider');
	
	   showSlide(slideIndex);
	   setInterval(nextSlide, 3000);
	
	   function showSlide(n) {
	     slideIndex = n;
	     var translateXValue = (-slideIndex * (100 / slides.length)) + '%';
	     slider.style.transform = 'translateX(' + translateXValue + ')';
	     for (var i = 0; i < dots.length; i++) {
	       dots[i].classList.remove('active');
	     }
	     dots[slideIndex].classList.add('active');
	   }
	
	   function nextSlide() {
	     slideIndex++;
	     if (slideIndex === slides.length) {
	       slideIndex = 0;
	     }
	     showSlide(slideIndex);
	   }
	
	   function prevSlide() {
	     slideIndex--;
	     if (slideIndex < 0) {
	       slideIndex = slides.length - 1;
	     }
	     showSlide(slideIndex);
	   }
	
	   function setSlide(n) {
	     slideIndex = n;
	     showSlide(slideIndex);
	   }
	
	   for (var i = 0; i < dots.length; i++) {
	     dots[i].addEventListener('click', function() {
	       var index = Array.prototype.indexOf.call(dots, this);
	       setSlide(index);
	     });
	   }
   });
   </script>
</th:block>
    
</head>

<body> 
<th:block layout:fragment="content">  
<!--슬라이드 이미지-->    
  <div class="slider-container">
    <div class="slider">
      <div class="slide">
        <img src="./image/main1.png" alt="Slide 1" />
      </div>
      <div class="slide">
        <img src="./image/main_2.png" alt="Slide 2" />
      </div>
      <div class="slide">
        <img src="./image/main3.png" alt="Slide 3" />
      </div>
    </div>
  </div>

  <div class="dots">
    <span class="dot active"></span>
    <span class="dot"></span>
    <span class="dot"></span>
  </div>

  <!--게시판 카테고리-->
  <div class="post-list">
    <button class="post-button">전체</button>
    <button class="post-button">소통해요</button>
    <button class="post-button">함께해요</button>
    <button class="post-button">궁금해요</button>
  </div>
  <!--게시판 검색창-->
  <div class="board-search-box">
    <div style="position: relative;">
    <input class="board-search-input" type="text" placeholder="포스팅 검색하기">
    <button class="board-search-button">

      <img src="./image/search.png" alt="Search" class="board-search-icon">
    </button>
  </div>
  </div>

  <!--게시판 영역-->

  <div id="mainWrapper">
    <ul>

        <!-- 게시판 목록  -->
        <li>
            <ul id="ulTable">
                <li>
                    <ul>
                        <li class="dropdown">
                            <span>카테고리</span>
                            <div class="dropdown-content">
                                <a href="#">전체</a>
                                <a href="#">소통해요</a>
                                <a href="#">함께해요</a>
                                <a href="#">궁금해요</a>
                            </div>
                        </li>
                        <li>제목</li>
                        <li>작성일</li>
                        <li>작성자</li>
                        <li>조회수</li>
                    </ul>
                </li>
                <!-- 게시물이 출력될 영역 -->
                <li>
                    <ul>
                        <li>1</li>
                        <li class="left">제목제목제목제목1</li>
                        <li>2023.06.21</li>
                        <li>유진스의하입보이</li>
                        <li>0</li>
                    </ul>
                </li>

                <li>
                  <ul>
                      <li>1</li>
                      <li class="left">감자감자</li>
                      <li>2023.06.21</li>
                      <li>경1</li>
                      <li>0</li>
                  </ul>
              </li>


              <li>
                <ul>
                    <li>1</li>
                    <li class="left">배고파!!!!</li>
                    <li>2023.06.21</li>
                    <li>유진스의하입보이</li>
                    <li>0</li>
                </ul>
            </li>


            <li>
              <ul>
                  <li>1</li>
                  <li class="left">소곱창이 먹고시포</li>
                  <li>2023.06.21</li>
                  <li>정우의이렇게좋은날</li>
                  <li>0</li>
              </ul>
          </li>


          <li>
            <ul>
                <li>1</li>
                <li class="left">제목제목제목제목1</li>
                <li>2023.06.21</li>
                <li>유진스의하입보이</li>
                <li>0</li>
            </ul>
        </li>


                <li>
                    <ul>
                        <li>2</li>
                        <li class="left">제목제목제목제목1</li>
                        <li>2023.06.21</li>
                        <li>황보스톤</li>
                        <li>0</li>
                    </ul>
                </li>
                
                <li>
                  <ul>
                      <li>1</li>
                      <li class="left">용용선생먹고싶다</li>
                      <li>2023.06.21</li>
                      <li>황보스톤</li>
                      <li>0</li>
                  </ul>
              </li>

              <li>
                <ul>
                    <li>1</li>
                    <li class="left">회먹고시포</li>
                    <li>2023.06.21</li>
                    <li>두하찡</li>
                    <li>0</li>
                </ul>
            </li>

                <li>
                    <ul>
                        <li>3</li>
                        <li class="left">제목제목제목제목1</li>
                        <li>2023.06.21</li>
                        <li>전진아니고현진</li>
                        <li>0</li>
                    </ul>
                </li>

                <li>
                    <ul>
                        <li>4</li>
                        <li class="left">제목제목제목제목1</li>
                        <li>2023.06.21</li>
                        <li>두하찡</li>
                        <li>0</li>
                    </ul>
                </li>
            </ul>
        </li>

    
        <!--게시판 아래 검색 폼 영역 -->
        <li id="liSearchOption">
            <div>
                <select id="selSearchOption">
                    <option value="A">제목+내용</option>
                    <option value="T">제목</option>
                    <option value="C">내용</option>
                </select>
                <input id="txtKeyWord" />
                <input type="button" value="검색"/>
                
            </div>
            
        </li>
    </ul>
</div>
    <!-- 게시판 페이징 영역 -->
    <div class="pagination-container">
      <nav aria-label="pagination">
          <ul class="pagination">
              <li><a href=""><span aria-hidden="true"></span><span class="visuallyhidden"><<</span></a></li>
              <li><a href=""><span class="visuallyhidden"> </span>1</a></li>
              <li><a href="" aria-current="page"><span class="visuallyhidden"> </span>2</a></li>
              <li><a href=""><span class="visuallyhidden"> </span>3</a></li>
              <li><a href=""><span class="visuallyhidden"> </span>4</a></li>
              <li><a href=""><span class="visuallyhidden"> </span>5</a></li>
              <li><a href=""><span aria-hidden="true"></span><span class="visuallyhidden">>></span></a></li>
          </ul>
      </nav>
  </div>
</th:block>
</body> 
</html>
