<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/default-layout}">

<head>

    <th:block layout:fragment="css">
        <link rel="stylesheet" href="/css/myPage.css">
        <link
                href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css"
                rel="stylesheet"
        />
    </th:block>

    <th:block layout:fragment="script">
        <script type="text/javascript" th:inline="javascript"
                th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
        <script type="text/javascript" th:inline="javascript"
                th:src="@{https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js}"></script>
        <script type="text/javascript" th:inline="javascript" th:src="@{./js/script.js}"></script>

        <script th:inline="javascript">
            $(document).ready(() => {
                $("#pass-confirm").css("display", "none");
                $("#pass-confirm1, #pass-confirm2").on("blur", () => {
                    if ($("#pass-confirm1").val() != $("#pass-confirm2").val()) {
                        $("#pass-confirm").css("display", "");
                    } else {
                        $("#pass-confirm").css("display", "none");
                    }
                });
                $("#name-info-btn").on("click", () => {
                    $.ajax({
                        type: "POST",
                        url: "/myPage/name-info",
                        data: $("#name-info").serialize(),
                        success: (response) => {
                            alert("수정되었습니다.")
                            location.href = `/myPage`;
                            // 서버에서 응답이 온 경우의 동작
                        }
                    });
                });
                $("#profile-info-btn").on("click", () => {
                    $.ajax({
                        type: "POST",
                        url: "/myPage/user-info",
                        data: $("#profile-member-form").serialize(),
                        success: (obj) => {
                            console.log(obj);
                            alert("수정되었습니다.")
                            location.href = `/myPage`;
                        }
                    })
                })
                $("#del-user").on("click", () => {
                    $("#modal").show();
                    $("body").css("overflow", "hidden");
                })
                $("#close-modal").on("click", (event) => {
                    event.preventDefault();
                    $("#modal").hide();
                    $("body").css("overflow", "auto");
                })
                $("#del-modal").on("click", (event) => {
                    event.preventDefault();
                    $.ajax({
                        url: "/myPage/check-pass",
                        type: "POST",
                        data: $("#del-user-pass-confirm").serialize(),
                        success: (obj) => {
                            if (obj == "ok") {
                                if (confirm("정말 삭제하시겠습니까?")) {
                                    $.ajax({
                                        url: "/myPage/del-user",
                                        type: "DELETE",
                                        success: () => {
                                            alert("삭제되었습니다.");
                                            location.href = `/`;
                                        }, error: () => {
                                            alert("Sdasds")
                                        }
                                    })
                                } else return;
                            } else {
                                alert("비밀번호가 틀렸습니다.");
                                return;
                            }
                        }
                    })
                })
                $(".page-link1").on("click", function (e) {
                    e.preventDefault();
                    checkBox();

                    var pageNum = $(this).data("page");
                    console.log(pageNum);

                    $.ajax({
                        url: "/boards",
                        data: {
                            pageNum: pageNum
                        },
                        success: function (data) {
                            // Clear the existing table
                            $("#profile-write-board1 tr:not(:first)").remove();
                            console.log(data);
                            console.log(data.content);
                            // Update the table with the new page data
                            $.each(data.content, function (i, board) {
                                var row = $("<tr>").append(
                                    // $("<input>").val(board.boardId).attr({type : 'hidden', name : 'del-check'}),
                                    $('<td>').append($('<input>', {
                                        value: board.boardId,
                                        type: 'checkbox',
                                        name: 'board-check'
                                    })),
                                    // $("<td>").text(board.boardId),
                                    $("<td>").text(board.boardTitle),
                                    $("<td>").text(board.boardRegDate),
                                    $("<td>").text(board.boardViewCnt)
                                );
                                $("#profile-write-board1").append(row);
                            });
                        }
                    });
                });
                $(".page-link2").on("click", function (e) {
                    e.preventDefault();
                    checkBox();

                    var pageNum = $(this).data("page");
                    console.log(pageNum);

                    $.ajax({
                        url: "/comm",
                        data: {
                            pageNum: pageNum
                        },
                        success: function (data) {
                            // Clear the existing table
                            $("#profile-write-board1 tr:not(:first)").remove();
                            console.log(data);
                            console.log(data.content);
                            // Update the table with the new page data
                            $.each(data.content, function (i, comm) {
                                var row = $("<tr>").append(
                                    $('<td>').append($('<input>', {type: 'checkbox', name: 'board-check'})),
                                    // $("<td>").text(board.boardId),
                                    $("<td>").text(comm.commentContent),
                                    $("<td>").text(comm.boardTitle),
                                    $("<td>").text(comm.createdAt)
                                );
                                $("#profile-write-board1").append(row);
                            });
                        }
                    });
                });

                $(".page-link3").on("click", function (e) {
                    e.preventDefault();
                    checkBox();

                    var pageNum = $(this).data("page");
                    console.log(pageNum);

                    $.ajax({
                        url: "/like",
                        data: {
                            pageNum: pageNum
                        },
                        success: function (data) {
                            // Clear the existing table
                            $("#profile-write-board1 tr:not(:first)").remove();
                            console.log(data);
                            console.log(data.content);
                            // Update the table with the new page data
                            $.each(data.content, function (i, like) {
                                var row = $("<tr>").append(
                                    $('<td>').append($('<input>', {type: 'checkbox', name: 'board-check'})),
                                    // $("<td>").text(board.boardId),
                                    $("<td>").text(like.boardTitle),
                                    $("<td>").text(like.boardRegDate),
                                    $("<td>").text(like.boardViewCnt)
                                );
                                $("#profile-write-board1").append(row);
                            });
                        }
                    });
                });
                const checkBox = () => {
                    $("#profile-select-all-board").prop("checked", false);
                    // $('input[name="board-check"]').prop('checked', false);
                };

                $("#btn-del-history").on("click", () => {
                    var cateUrl = "";
                    if ($("#history-cate").val() == "board") {
                        cateUrl = "/del-board";
                        console.log(cateUrl);
                    } else if ($("#history-cate").val() == "comm") {
                        cateUrl = "/del-comm";
                        console.log(cateUrl);
                    } else if ($("#history-cate").val() == "like") {
                        cateUrl = "/del-like";
                        console.log(cateUrl);
                    } else console.log(cateUrl);
                    console.log($("#del-history").serialize()+"여기에요");
                    $.ajax({
                        url: cateUrl,
                        type: "DELETE",
                        data: $("#del-history").serialize(),
                        success: () => {
                            alert("삭제되었습니다.");
                            location.href = `/myPage`;
                        }
                    })
                })
            });

        </script>
    </th:block>


</head>

<body>
<th:block layout:fragment="content">
    <section class="profile-wrap">
        <div class="profile-container">
            <div class="profile-box profile-box1">
                <div class="profile-box profile-left1">
                    <img src="./img/로고.png" alt=""/>
                </div>
                <div class="profile-box profile-left2">
                    <div class="profile-menu">
                        <div class="profile-menu1 profile-btn-css">회원정보</div>
                        <div class="profile-menu2 profile-btn-css" id="user-history">글 관리</div>
                        <div class="profile-menu3 profile-btn-css">계정</div>
                    </div>
                </div>
            </div>
            <div class="profile-container2" id="profile-con2">
                <div class="profile-box profile-box2" id="profile-user-info1">
                    <form class="profile-profile-details" id="name-info">
                        <div class="profile-info-field">
                            <div>이름</div>
                            <input name="name" th:value="${session.user.name}" th:placeholder="${session.user.name}"/>
                        </div>
                        <div class="profile-info-field">
                            <div>닉네임</div>
                            <input name="userNickname" th:value="${session.user.userNickname}"
                                   th:placeholder="${session.user.userNickname}"/>
                        </div>
                        <div class="profile-info-field">
                            <div>관심사</div>
                            <select id="profile-interests" multiple name="interest">
                                <option value="풀스택" th:selected="${interests.contains('풀스택')}">풀스택</option>
                                <option value="백엔드" th:selected="${interests.contains('백엔드')}">백엔드</option>
                                <option value="프론트엔드" th:selected="${interests.contains('프론트엔드')}">프론트엔드</option>
                                <option value="모바일" th:selected="${interests.contains('모바일')}">모바일</option>
                                <option value="안드로이드" th:selected="${interests.contains('안드로이드')}">안드로이드</option>
                                <option value="ios" th:selected="${interests.contains('ios')}">ios</option>
                            </select>
                        </div>
                        <button style="z-index: 4;" class="profile-btn" type="" id="name-info-btn">수정</button>
                    </form>
                    <!--                    <input type="hidden" name="usersId" th:value="${session.user.usersId}">-->
                    <div class="profile-profile-picture">
                        <div class="profile-profile-image">
                            <img
                                    id="profile-profilePic" class="profile-img"
                                    th:src="@{'/uploads/' + ${profileImg.originName}}"
                            >
                        </div>
                        <input type="file" id="profile-imageUpload" hidden/>
                        <button class="profile-btn-css" id="profile-changeProfilePicBtn">
                            사진 변경하기
                        </button>
                    </div>
                </div>
                <div class="profile-box profile-box2" id="profile-user-info2">
                    <div class="profile-profile-picture2">
                        <div class="profile-profile-image">
                            <img
                                    id="profile-profilePic" class="profile-img"
                                    th:src="@{'/uploads/'+${profileImg.originName}}"
                                    alt="Profile Picture"
                            />
                        </div>
                        <div id="profile-info-field">
                            <h2 id="profile-nickname" th:text="${session.user.userNickname}"></h2>
                            <div id="profile-count">
                                <div th:text="'작성글 : '+${countBoard}"></div>
                                <br/>
                                <div th:text="'작성댓글 : '+${countComments}"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile-box profile-box2" id="profile-user-info3">
                    <div id="profile-email-con">
                        <div class="profile-box" id="profile-email-info">
                            <div class="profile-emailinfo-text"><h2>이메일 정보</h2></div>
                            <input type="text" th:placeholder="${session.user.email}" th:value="${session.user.email}"/>
                        </div>
                        <div class="profile-box" id="profile-email-btn">
                            <button>이메일 인증</button>
                        </div>
                    </div>
                    <div class="profile-box" id="profile-text-con">
                        이메일 변경은 변경한 이메일로 인증 요청메일이 발송되고 이메일을 통한
                        인증을 정상적으로 완료한 후 최종적으로 반영됩니다.
                    </div>
                </div>
                <div class="profile-box profile-box3">
                    <form id="profile-member-form">
                        <h1>회원 정보 수정</h1>
                        <hr/>
                        <table>
                            <tr>
                                <td>아이디</td>
                                <td><input type="text" name="userId" th:value="${session.user.userId}"
                                           th:placeholder="${session.user.userId}"/></td>
                            </tr>
                            <tr>
                                <td>현재 비밀번호</td>
                                <td><input type="password" name="password" th:value="${session.user.password}"
                                           th:placeholder="${session.user.password}"/></td>
                            </tr>
                            <tr>
                                <td>새 비밀번호</td>
                                <td><input type="password" name="newPassword" id="pass-confirm1"/></td>
                            </tr>
                            <tr>
                                <td>새 비밀번호 확인</td>
                                <td><input type="password" name="confirmPassword" id="pass-confirm2"/>
                                    <div id="pass-confirm">비밀번호가 일치하지 않습니다.</div>
                                </td>
                            </tr>
                            <tr>
                                <td>성별</td>
                                <td>
                                    <input id="check-gender-male" type="radio" name="gender" value="M"
                                           th:checked="${session.user.gender == 'M'}"/> 남자
                                    <input id="check-gender-female" type="radio" name="gender" value="W"
                                           th:checked="${session.user.gender == 'W'}"/> 여자
                                </td>
                            </tr>
                            <tr>
                                <td>휴대전화</td>
                                <td>
                                    <input type="text" name="phone" th:placeholder="${session.user.phone}"
                                           th:value="${session.user.phone}"/>
                                </td>
                            </tr>
                            <tr>
                                <td>이메일</td>
                                <td><input type="text" name="email" th:placeholder="${session.user.email}"
                                           th:value="${session.user.email}"/></td>
                            </tr>
                            <tr>
                                <td>선택약관 동의</td>
                                <td>선택약관<input id="ch" type="checkbox" name="isTerms" value=1
                                               th:checked="${session.user.isTerms} != 0 ? 'true' : 'false'"></td>
                            </tr>
                        </table>
                        <button id="profile-info-btn" class="profile-btn" type="submit">수정</button>
                    </form>
                    <div id="profile-con2-2">
                        <div class="profile-box" id="profile-select-container">
                            <div class="profile-select" id="profile-sel1">작성글</div>
                            <div class="profile-select" id="profile-sel2">작성댓글</div>
                            <div class="profile-select" id="profile-sel3">쥬아요</div>
                        </div>

                        <div class="profile-box" id="profile-historycontainer">
                            <form action="" id="del-history" style="width: 100%">
                                <table id="profile-write-board1">
                                    <tr id="profile-th">
                                        <th>선택</th>
                                        <th class="profile-title-bar">제목</th>
                                        <th>작성일</th>
                                        <th>조회수</th>
                                    </tr>
                                    <tr th:each="board : ${boards.content}">
                                        <td><input type="checkbox" name="board-check" th:value="${board.boardId}"/></td>
                                        <!-- <input th:value="${board.boardId}" type="hidden" name="del-check" /> -->
                                        <!-- <td th:text="${board.boardId}"></td> -->
                                        <td th:if="${board != null}" th:text="${board.boardTitle}"></td>
                                        <td th:unless="${board != null}">Board is null</td>
                                        <td th:if="${board != null}" th:text="${board.boardRegDate}"></td>
                                        <td th:unless="${board != null}">-</td>
                                        <td th:if="${board != null}" th:text="${board.boardViewCnt}"></td>
                                        <td th:unless="${board != null}">-</td>
                                    </tr>
                                </table>
                                <table id="profile-write-board2">
                                    <tr id="profile-th">
                                        <th>선택</th>
                                        <th class="profile-title-bar">댓글</th>
                                        <th>게시글</th>
                                        <th>날짜</th>
                                    </tr>
                                    <tr th:each="comm : ${comments.content}">
                                        <td><input type="checkbox" name="board-check"/></td>
                                        <td th:if="${comm != null}" th:text="${comm.commentContent}"></td>
                                        <td th:unless="${comm != null}">No comment</td>
                                        <td th:if="${comm != null}" th:text="${comm.boardTitle}"></td>
                                        <td th:unless="${comm != null}">-</td>
                                        <td th:if="${comm != null}" th:text="${comm.createdAt}"></td>
                                        <td th:unless="${comm != null}">-</td>
                                    </tr>
                                </table>
                                <table id="profile-write-board3">
                                    <tr id="profile-th">
                                        <th>선택</th>
                                        <th class="profile-title-bar">제목</th>
                                        <th>작성일</th>
                                        <th>조회수</th>
                                    </tr>
                                    <tr th:each="like : ${likeBoard}">
                                        <td><input type="checkbox" name="board-check"/></td>
                                        <td th:if="${like != null}" th:text="${like.boardTitle}"></td>
                                        <td th:unless="${like != null}">No board</td>
                                        <td th:if="${like != null}" th:text="${like.boardRegDate}"></td>
                                        <td th:unless="${like != null}">-</td>
                                        <td th:if="${like != null}" th:text="${like.boardViewCnt}"></td>
                                        <td th:unless="${like != null}">-</td>
                                    </tr>
                                </table>
                            </form>
                            <div class="profile-box" id="profile-ect-container">
                                <div>
                                    전체선택<input
                                        type="checkbox"
                                        id="profile-select-all-board"
                                />
                                </div>
                                <span class="pagination-bottom-pages1" th:if="${boards != null}">
                                    <ul style="list-style:none;">
                                        <li th:if="${boards.hasPrevious()}" style="float: left;">
                                            <a href="#" class="page-link1"
                                               th:data-page="${boards.number - 1}">Previous</a>
                                        </li>
                                        <li th:each="pageNumber : ${#numbers.sequence(0, boards.totalPages - 1)}"
                                            style="float: left;">
                                            <a href="#" class="page-link1" th:data-page="${pageNumber}"
                                               th:text="${pageNumber + 1}"></a>
                                        </li>
                                        <li th:if="${boards.hasNext()}" style="float: left;">
                                            <a href="#" class="page-link1" th:data-page="${boards.number + 1}">Next</a>
                                        </li>
                                    </ul>
                                </span>
                                <span class="pagination-bottom-pages2" th:if="${comments != null}">
                                    <ul style="list-style:none;">
                                        <li th:if="${comments.hasPrevious()}" style="float: left;">
                                            <a href="#" class="page-link1"
                                               th:data-page="${comments.number - 1}">Previous</a>
                                        </li>
                                        <li th:each="pageNumber : ${#numbers.sequence(0, comments.totalPages - 1)}"
                                            style="float: left;">
                                            <a href="#" class="page-link1" th:data-page="${pageNumber}"
                                               th:text="${pageNumber + 1}"></a>
                                        </li>
                                        <li th:if="${comments.hasNext()}" style="float: left;">
                                            <a href="#" class="page-link1"
                                               th:data-page="${comments.number + 1}">Next</a>
                                        </li>
                                    </ul>
                                </span>
                                <span class="pagination-bottom-pages3">
                                    <ul style="list-style:none;">
                                        <li th:if="${comments.hasPrevious()}" style="float: left;">
                                            <a href="#" class="page-link1"
                                               th:data-page="${comments.number - 1}">Previous</a>
                                        </li>
                                        <li th:each="pageNumber : ${#numbers.sequence(0, comments.totalPages - 1)}"
                                            style="float: left;">
                                            <a href="#" class="page-link1" th:data-page="${pageNumber}"
                                               th:text="${pageNumber + 1}"></a>
                                        </li>
                                        <li th:if="${comments.hasNext()}" style="float: left;">
                                            <a href="#" class="page-link1"
                                               th:data-page="${comments.number + 1}">Next</a>
                                        </li>
                                    </ul>
                                </span>
                                <input type="hidden" value="board" id="history-cate">
                                <button id="btn-del-history" type="button" value="삭제/취소">삭제/취소</button>
                            </div>
                        </div>
                    </div>
                    <div id="profile-con3-2">
                        <div class="profile-social-text profile-box">
                            <div class="profile-box">
                                <div class="profile-social-text1">소셜 계정 연동</div>
                            </div>
                            <div class="profile-box">
                                <div class="profile-social-text2">
                                    사용하시는 소셜 및 인증 제공자들과 계정을 연동하고 손쉽게
                                    로그인하세요.
                                </div>
                            </div>
                        </div>
                        <div class="profile-이름다떨어짐 profile-box">
                            <div class="profile-del-btn-con profile-box">
                                <button class="profile-del-btn profile-box" id="del-user">계정 삭제</button>
                            </div>
                            <div class="profile-social-btn profile-box">
                                <div
                                        class="profile-social profile-box btn-css"
                                        id="profile-google"
                                >
                                    <img src="./image/구글.png" alt=""/>
                                    <div>구글 연동</div>
                                </div>
                                <div
                                        class="profile-social profile-box btn-css"
                                        id="profile-never"
                                >
                                    <img src="./image/네이버.png" alt=""/>
                                    <div>네이버 연동</div>
                                </div>
                                <div
                                        class="profile-social profile-box btn-css"
                                        id="profile-kakao"
                                >
                                    <img src="./image/카카오.png" alt=""/>
                                    <div>카카오 연동</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="modal">
        <div class="modal-content">
            <h2>계정 삭제</h2>
            <p>계정 삭제 후 60일간 보관되며 게시글 어쩌구 저쩌구는 60일간 보관 어쩌구 삭제하고 싶으면 비밀번호 치세용</p>
            <form id="del-user-pass-confirm">
                <input name="pass" id="del-user-pass">
                <button id="close-modal" type="">닫기</button>
                <button id="del-modal">삭제</button>
            </form>
        </div>
    </div>
</th:block>

</body>

</html>