<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/default-layout}">

<head>

    <th:block layout:fragment="css">
        <link rel="stylesheet" href="/css/myPage.css">
        <link
                href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css"
                rel="stylesheet"
        />
    </th:block>

    <th:block layout:fragment="script">
        <script type="text/javascript" th:inline="javascript"
                th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
        <script type="text/javascript" th:inline="javascript"
                th:src="@{https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js}"></script>
        <script type="text/javascript" th:inline="javascript" th:src="@{./js/script.js}"></script>
        <script>
            $(document).ready(()=>{
                $("#pass-confirm").css("display", "none");
                $("#pass-confirm1, #pass-confirm2").on("blur",()=>{
                    if($("#pass-confirm1").val() != $("#pass-confirm2").val()){
                        $("#pass-confirm").css("display", "");
                    } else {
                        $("#pass-confirm").css("display", "none");
                    }
                });

            });
        </script>
    </th:block>


</head>

<body>
<th:block layout:fragment="content">
    <section class="profile-wrap">
        <div class="profile-container">
            <div class="profile-box profile-box1">
                <div class="profile-box profile-left1">
                    <img src="./img/로고.png" alt=""/>
                </div>
                <div class="profile-box profile-left2">
                    <div class="profile-menu">
                        <div class="profile-menu1 profile-btn-css">회원정보</div>
                        <div class="profile-menu2 profile-btn-css">글 관리</div>
                        <div class="profile-menu3 profile-btn-css">계정</div>
                    </div>
                </div>
            </div>
            <div class="profile-container2" id="profile-con2">
                <div class="profile-box profile-box2" id="profile-user-info1">
                    <form class="profile-profile-details">
                        <div class="profile-info-field">
                            <div>이름</div>
<!--                            <input type="text" th:placeholder="${user.name}" th:value="${user.name}"/>-->
                        </div>
                        <div class="profile-info-field">
                            <div>닉네임</div>
<!--                            <input type="text" th:placeholder="${user.user_nickname}" th:value="${user.user_nickname}"/>-->
                        </div>
                        <div class="profile-info-field">
                            <div>관심사</div>
                            <select id="profile-interests" multiple>
                                <option value="fullstack">풀스택</option>
                                <option value="backend">백엔드</option>
                                <option value="frontend">프론트엔드</option>
                                <option value="mobile">모바일</option>
                                <option value="android">안드로이드</option>
                                <option value="ios">ios</option>
                            </select>
                        </div>
                        <button class="profile-btn" type="submit">수정</button>
                    </form>
                    <div class="profile-profile-picture">
                        <div class="profile-profile-image">
                            <img
                                    id="profile-profilePic"
                                    th:src="@{/uploads/${profileImg}}"
                                    alt="Profile Picture"
                            />
                        </div>
                        <input type="file" id="profile-imageUpload" hidden/>
                        <button class="profile-btn-css" id="profile-changeProfilePicBtn">
                            사진 변경하기
                        </button>
                        <!-- <input type="file" id="profile-fileInput" style="display: none" /> -->
                    </div>
                </div>
                <div class="profile-box profile-box2" id="profile-user-info2">
                    <div class="profile-profile-picture2">
                        <div class="profile-profile-image">
                            <img
                                    id="profile-profilePic"
                                    th:src="@{/uploads/${profileImg}}"
                                    alt="Profile Picture"
                            />
                        </div>
                        <div id="profile-info-field">
                            <h2 id="profile-nickname" th:text="${user.userNickname}"></h2>
                            <div id="profile-count">
                                <div>작성글 : 12</div>
                                <br/>
                                <div>작성댓글 : 1234</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile-box profile-box2" id="profile-user-info3">
                    <div id="profile-email-con">
                        <div class="profile-box" id="profile-email-info">
                            <div class="profile-emailinfo-text"><h2>이메일 정보</h2></div>
                            <input type="text" th:placeholder="${user.email}" th:value="${user.email}"/>
                        </div>
                        <div class="profile-box" id="profile-email-btn">
                            <button>이메일 인증</button>
                        </div>
                    </div>
                    <div class="profile-box" id="profile-text-con">
                        이메일 변경은 변경한 이메일로 인증 요청메일이 발송되고 이메일을 통한
                        인증을 정상적으로 완료한 후 최종적으로 반영됩니다.
                    </div>
                </div>
                <div class="profile-box profile-box3">
                    <form id="profile-member-form">
                        <h1>회원 정보 수정</h1>
                        <hr/>
                        <table>
                            <tr>
                                <td>아이디</td>
                                <td><input type="text" name="email" th:value="${user.email}"
                                           th:placeholder="${user.email}"/></td>
                            </tr>
                            <tr>
                                <td>현재 비밀번호</td>
                                <td><input type="password" name="currentPassword" th:value="${user.password}"
                                           th:placeholder="${user.password}"/></td>
                            </tr>
                            <tr>
                                <td>새 비밀번호</td>
                                <td><input type="password" name="newPassword" id="pass-confirm1"/></td>
                            </tr>
                            <tr>
                                <td>새 비밀번호 확인</td>
                                <td><input type="password" name="confirmPassword" id="pass-confirm2"/>
                                    <div id="pass-confirm">비밀번호가 일치하지 않습니다.</div>
                                </td>
                                </td>
                            </tr>
                            <tr>
                                <td>이름</td>
                                <td><input type="text" name="name" th:placeholder="${user.name}" th:value="${user.name}"/></td>
                            </tr>
                            <tr>
                                <td>성별</td>
                                <td>
                                    <input type="radio" name="gender" value="남자"/> 남자
                                    <input type="radio" name="gender" value="여자"/> 여자
                                </td>
                            </tr>
                            <tr>
                                <td>휴대전화</td>
                                <td>
                                    <input type="text" name="phone" th:placeholder="${user.phone}" th:value="${user.phone}"/>
<!--                                    <div class="profile-hidden">-->
<!--                                        올바른 휴대전화 번호를 입력해주세요. (예: 010-1234-5678)-->
<!--                                    </div>-->
                                </td>
                            </tr>
                            <tr>
                                <td>이메일</td>
                                <td><input type="text" name="email" th:placeholder="${user.email}" th:value="${user.email}"/></td>
                            </tr>
                            <tr>
                                <td>선택약관 동의</td>
                                <td>선택약관<input id="ch" type="checkbox" name="agree"  th:checked="${user.isTerms} != 0 ? 'true' : 'false'"></td>
                            </tr>
                        </table>
                        <button class="profile-btn" type="submit">수정</button>
                    </form>
                    <div id="profile-con2-2">
                        <div class="profile-box" id="profile-select-container">
                            <div class="profile-select" id="profile-sel1">작성글</div>
                            <div class="profile-select" id="profile-sel2">작성댓글</div>
                            <div class="profile-select" id="profile-sel3">쥬아요</div>
                        </div>

                        <div class="profile-box" id="profile-history-container">
                            <table id="profile-write-board1">
                                <tr id="profile-th">
                                    <th>선택</th>
                                    <th class="profile-title-bar">제목</th>
                                    <th>작성일</th>
                                    <th>조회수</th>
                                </tr>
                                <tr th:each="board:${boardList}">
                                    <td><input type="checkbox" name="board-check"/></td>
                                    <td th:text="${board.boardTitle}"></td>
                                    <td th:text="${board.boardRegDate}"></td>
                                    <td th:text="${board.boardViewCnt}"></td>
                                </tr>

                            </table>
                            <table id="profile-write-board2">
                                <tr id="profile-th">
                                    <th>선택</th>
                                    <th class="profile-title-bar">댓글</th>
                                    <th>게시글</th>
                                    <th>날짜</th>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" name="board-check"/></td>
                                    <td>댓글입니다</td>
                                    <td>게시글 제목</td>
                                    <td>2023.07.14</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" name="board-check"/></td>
                                    <td>댓글입니다</td>
                                    <td>게시글 제목</td>
                                    <td>2023.07.14</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" name="board-check"/></td>
                                    <td>댓글입니다</td>
                                    <td>게시글 제목</td>
                                    <td>2023.07.14</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" name="board-check"/></td>
                                    <td>댓글입니다</td>
                                    <td>게시글 제목</td>
                                    <td>2023.07.14</td>
                                </tr>
                            </table>
                            <table id="profile-write-board3">
                                <tr id="profile-th">
                                    <th>선택</th>
                                    <th class="profile-title-bar">제목</th>
                                    <th>작성일</th>
                                    <th>조회수</th>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" name="board-check"/></td>
                                    <td>나는 개똥벌레</td>
                                    <td>2023.07.14</td>
                                    <td>1008</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" name="board-check"/></td>
                                    <td>친구가 없네</td>
                                    <td>2023.07.14</td>
                                    <td>1008</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" name="board-check"/></td>
                                    <td>저기 개똥무덤이</td>
                                    <td>2023.07.14</td>
                                    <td>1008</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" name="board-check"/></td>
                                    <td>내 집인걸..</td>
                                    <td>2023.07.14</td>
                                    <td>1008</td>
                                </tr>
                            </table>
                            <div class="profile-box" id="profile-ect-container">
                                <div>
                                    전체선택<input
                                        type="checkbox"
                                        id="profile-select-all-board"
                                />
                                </div>
                                <div>paging예정</div>
                                <input type="submit" value="삭제/취소"/>
                            </div>
                        </div>
                    </div>
                    <div id="profile-con3-2">
                        <div class="profile-social-text profile-box">
                            <div class="profile-box">
                                <div class="profile-social-text1">소셜 계정 연동</div>
                            </div>
                            <div class="profile-box">
                                <div class="profile-social-text2">
                                    사용하시는 소셜 및 인증 제공자들과 계정을 연동하고 손쉽게
                                    로그인하세요.
                                </div>
                            </div>
                        </div>
                        <div class="profile-이름다떨어짐 profile-box">
                            <div class="profile-del-btn-con profile-box">
                                <button class="profile-del-btn profile-box">계정 삭제</button>
                            </div>
                            <div class="profile-social-btn profile-box">
                                <div
                                        class="profile-social profile-box btn-css"
                                        id="profile-google"
                                >
                                    <img src="./image/구글.png" alt=""/>
                                    <div>구글 연동</div>
                                </div>
                                <div
                                        class="profile-social profile-box btn-css"
                                        id="profile-never"
                                >
                                    <img src="./image/네이버.png" alt=""/>
                                    <div>네이버 연동</div>
                                </div>
                                <div
                                        class="profile-social profile-box btn-css"
                                        id="profile-kakao"
                                >
                                    <img src="./image/카카오.png" alt=""/>
                                    <div>카카오 연동</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</th:block>

</body>
</html>