<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="config">
    <meta charset="UTF-8">
    <title>옹기종기</title>

    <!--모든 페이지에서 사용할 공용 css링크-->
    <!--thymeleaf에서 링크를 걸 때는 @{} 사용-->
    <!--부트에서는 루트 폴더가 스태틱, 템플릿. 이렇게 써놓으면 static 찾아감-->
    <!-- <link rel="stylesheet" th:href="@{/css/style.css}"> -->
  	<link rel="stylesheet" href="/css/home.css">
  	<link rel="stylesheet" href="/css/footer.css">

    <!--특정페이지에서만 사용할 css링크나 스타일시트-->
    <!--css 따로 적용할 페이지에서 아래와 같이 작성해야된다.-->	 
	 
    <th:block layout:fragment="css">
        <!--<style>

        </style>
        <link rel="stylesheet" th:href="">-->
    </th:block>

    <!--모든 페이지에서 사용할 공용 js링크-->
    <script th:src="@{/js/jquery-3.7.0.min.js}"></script>
    <script th:src="@{/js/common.js}"></script>

    <!--특정 페이지에서만 동작할 js 링크나 태그-->
    <th:block layout:fragment="script">
        <!--<script>
        </script>

        <script src=""></script>-->
    </th:block>
</head>
</html>