<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<body>
  <header class="header">	
    <div class="nav_logo">
      <a th:href="@{/main}">
        <img src="/image/Pagelogo.png" alt="Logo" />
      </a>
    </div>

    <ul class="nav_menu">
      <li><a th:href="@{/main}">홈</a></li>
      <li><a th:href="@{/freePage}">소통해요</a></li>
      <li><a th:href="@{/studyPage}">함께해요</a></li>
      <li><a th:href="@{/board/qnaPage/1}">궁금해요</a></li>
      <li><a th:href="@{/certificatePage}">자격증</a></li>
    </ul>
    <div class="search_box">
      <i class="fas fa-search search_icon"></i>
      <input type="text" id="search_input" placeholder="검색" />
      <button id="search_button"><a id="fullSearch" th:href="@{/fullSearch}">검색</a></button>
    </div>
    <div class="user_buttons">
      <div th:block sec:authorize="!isAuthenticated()">
        <button id="login_button"><a th:href="@{/login}">로그인</a></button>
        <button id="signup_button"><a th:href="@{/members/new}">회원가입</a></button>
      </div>
      <div th:block sec:authorize="isAuthenticated()">
        <button id="profile_button"><a th:href="@{/myPage}">프로필</a></button>
        <button id="logout_button"><a th:href="@{/logout}">로그아웃</a></button>
      </div>
    </div>
  </header>
</body>
</html>