<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
	 .fieldError {
	 	border-color: #bd2130;
	 }
</style>
<body>
	<div class="container">
		<div th:replace="fragments/bodyHeader :: bodyHeader"/>
		<table class="table">
			<tr>
				<th>항목</th>
				<th>내용</th>
			</tr>
			<tr>
				<td><label th:for="user_id">*아이디</label></td>
				<td>
					<input type="text" th:field="*{user_id}" class="form-control"
						placeholder="아이디를 입력하세요"
						th:class="${#fields.hasErrors('user_id')}? 'form-control fieldError' : 'form-control'">
					<p th:if="${#fields.hasErrors('user_id')}" th:errors="*{user_id}">Incorrect date</p>
				</td>
			</tr>
			<tr>
				<td><label th:for="password">*비밀번호</label></td>
				<td>
					<input type="text" th:field="*{password}" class="form-control"
						placeholder="비밀번호를 입력하세요"
						th:class="${#fields.hasErrors('password')}? 'form-control fieldError' : 'form-control'">
					<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect date</p>
				</td>
			</tr>
			<tr>
				<td><label th:for="name">*이름</label></td>
				<td>
					<input type="text" th:field="*{name}" class="form-control"
						placeholder="이름을 입력하세요"
						th:class="${#fields.hasErrors('name')}? 'form-control fieldError' : 'form-control'">
					<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect date</p>
				</td>
			</tr>
			<tr>
				<td><label th:for="gender">성별</label></td>
				<td>
					<input type="checkbox" id="female" name="gender" value="여자"
						th:checked="${memberForm.gender == '여자'}">
					<label for="female">여자</label>
					<input type="checkbox" id="male" name="gender" value="남자"
						th:checked="${memberForm.gender == '남자'}">
					<label for="male">남자</label>
				</td>
			</tr>
			<tr>
				<td><label th:for="phone">휴대전화</label></td>
				<td>
					<input type="text" th:field="*{phone}" class="form-control"
						placeholder="전화번호를 입력하세요">
				</td>
			</tr>
			<tr>
				<td><label th:for="email">*이메일</label></td>
				<td>
					<input type="text" th:field="*{email}" class="form-control"
						placeholder="이메일을 입력하세요"
						th:class="${#fields.hasErrors('email')}? 'form-control fieldError' : 'form-control'">
					<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Incorrect date</p>
				</td>
			</tr>
			<tr>
				<td><label th:for="interest">관심사</label></td>
				<td>
					<input type="checkbox" id="backend" name="interest" value="백엔드"
						th:checked="${memberForm.interest == '백엔드'}">
					<label for="backend">백엔드</label>
					<input type="checkbox" id="frontend" name="interest" value="프론트엔드"
						th:checked="${memberForm.interest == '프론트엔드'}">
					<label for="frontend">프론트엔드</label>
					<input type="checkbox" id="mobile" name="interest" value="모바일"
						th:checked="${memberForm.interest == '모바일'}">
					<label for="mobile">모바일</label>
					<input type="checkbox" id="other" name="interest" value="기타"
						th:checked="${memberForm.interest == '기타'}">
					<label for="other">기타</label>
				</td>
			</tr>
		</table>
		<button type="submit" class="btn btn-primary">가입하기</button>
		</form>
		<br/>
		<div th:replace="fragments/footer :: footer" />
	</div> <!-- /container -->
</body>
</html>
