#postSection {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
}

#postContainer {
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 3em;
  width: 70%;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 40px;
}

#postInfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

#postInfo span {
  color: #828282;
}


#boardTitle {
  width: 100%;	
  color: #f97800;
  margin-bottom: 1em;
  text-align: center; 
  border: none;
  font-size: 20px;
}

#boardContent {
  width: 100%;
  height: 300px;
  padding: 1em;
  border: 1px solid #f97800;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: .5em;
  font-size: 1em;
}

#fileSection {
  margin-top: 2em;
}

#fileSection h4 {
  margin-bottom: 1em;
  text-align: left;
  color: #828282;
}

#fileList {
  list-style-type: none;
  padding-left: 0;
}

#fileList li {
  margin-bottom: 0.5em;
}

#fileList li a {
  color: #f97800;
  text-decoration: none;
}

#fileList li a:hover {
  color: #f9de30;
}

#postActions {
  margin-top: 2em;
  display: flex;
  justify-content: center;
}

#postActions a {
  margin-right: 1em;
  text-decoration: none;
}

#postActions a:hover {
  color: #f9de30;
}

#btnUpdate {
  /* 버튼의 기본 스타일 */
  display: inline-block;
  padding: 10px 20px;
  background-color: #FF9100	;
  color: white;
  text-decoration: none;
  cursor: pointer; /* 손가락 모양으로 커서 변경 */
  border-radius: 10px;
}

#btnDelete {
  display: inline-block;
  padding: 10px 20px;
  background-color: #FF9100	;
  color: white;
  text-decoration: none;
  cursor: pointer; 
  border-radius: 10px;
}

#btnList {
  display: inline-block;
  padding: 10px 20px;
  background-color: #FF9100	;
  color: white;
  text-decoration: none;
  cursor: pointer; 
  border-radius: 10px;
}

#commentSection {
  margin-top: 2em;
  text-align: right;
}

#commentSection h4 {
  color: #f97800;
  margin-bottom: 1em;
  text-align: left;
  color: #828282;
}

#commentContent {
  width: 100%;
  height: 100px;
  padding: 1em;
  border: 1px solid #f97800;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: .5em;
  font-size: 14px;
}

#btnComment {
  display: inline-block;
  padding: 10px 20px;
  background-color: #FFCA9B;
  color: white;
  text-decoration: none;
  cursor: pointer; 
  border-radius: 10px;
}

#btnComment:hover {
  background-color: #f97800;
}

#comments {
  margin-top: 1em;
}

#comments h4 {
  color: #f97800;
  margin-bottom: 1em;
}

.comment-item {
  background-color: #f2f2f2;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 5px;
  position: relative;
}

.comment-item .content {
  color: #333;
}

.comment-item .author {
  color: #828282;
  font-size: 12px;
}

.content {
  color: #333;
}

.writer {
  font-weight: bold;
}



