.profile-wrap {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f0f0f0;
    font-family: Arial, sans-serif;
    flex-direction: column;
  }
  .profile-container {
    display: flex;
    justify-content: center;
    background: #fff6ee;
    margin: 0;
    margin-top: 3vh;
    padding: 0;
    width: 80%;
    height: 90vh;
    border: 3px solid #f2a035;
    border-radius: 5%;
  }
  .profile-container2 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  .profile-box {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #000; */
  }
  .profile-box1 {
    display: flex;
    padding: 0;
    flex-basis: 15%;
    min-height: 200px;
    flex-direction: column;
    position: relative;
    /* border-right: 3px solid rgb(223, 222, 218); */
  }
  .profile-box1::after { /* added */
    content: '';
    position: absolute;
    top: 15%;
    right: 0;
    width: 3px;
    height: 70%;
    background-color: rgb(223, 222, 218);
  }
  .profile-box2,
  .profile-box3 {
    padding: 10px;
  }
  .profile-box2 {
    flex-basis: 15%;
    flex-grow: 3;
    min-height: 200px;
  }
  .profile-box3 {
    flex-basis: 70%;
    flex-grow: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    overflow: auto;
  }
  .profile-left1,
  .profile-left2 {
    flex-grow: 1;
    width: 100%;
    box-sizing: border-box;
    flex-basis: 15%;
    position: relative;
  }
  .profile-left1{
    height: 10%;
  }
  .profile-left1 > img{
    max-width: 100%;
    max-height: 100%;
  }
  .profile-left2 {
    flex-basis: 85%;
    flex-grow: 1;
    padding-top: 0px;
    display: inline;
    margin-top: 50%;
    width: 80%;
  }
  .profile-menu {
    display: flex;
    /* border: 1px solid black; */
    min-width: 130px;
    height: 260px;
    flex-direction: column;
    justify-content: space-between; 
  }
  .profile-menu1,
  .profile-menu2,
  .profile-menu3 {
    position: relative;
    display: flex;
    border: 1px solid black;
    height: 20%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .profile-active {
    text-decoration: underline;
  }
  .profile-active2{
    text-decoration: underline;
    text-underline-offset : 10px;
  }
  .profile-profile-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 50px;
    margin-top: 7%;
  }
  .profile-info-field {
    margin-bottom: 10px;
  }
  .profile-profile-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    margin-right: 10%;
  }
  .profile-profile-image {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
    /* margin-bottom: 10px; */
  }
  #profile-profilePic {
    width: 100%;
    height: auto;
  }
  #profile-interests {
    width: 300px;
  }
  #profile-member-form {
    width: 90%;
    height: 90%;
    /* border: 1px solid #000; */
    /* padding: 0px; */
    box-sizing: border-box;
    position: relative;
  }
  #profile-member-form table {
    width: 80%;
    height: 80%;
  }
  #profile-member-form h1 {
    margin-bottom: 0px;
  }
  #profile-member-form table input[type="text"],
  #profile-member-form table input[type="password"] {
    width: 100%;
  }
  #profile-member-form table tr td:first-child {
    width: 30%;
  }
  #profile-member-form table tr td:last-child {
    width: 70%;
  }
  .profile-hidden {
    display: none;
    color: red;
    font-size: 12px;
  }


/* #member-form, #user-info1{
  display: none;
} */
/* #board-form, #user-info2 ,#history-container{
  display: none;
} */
#profile-user-info2 .profile-profile-picture2 {
  display: flex;
    flex-direction: column;
    align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin-left: 5%;
  min-width: 800px;

}
#profile-user-info2 .profile-profile-image {
  width: 160px;
  height: 160px;
}
#profile-user-info2{
  justify-content: flex-start;
  flex-direction: row;
  position: relative;
  /* border-bottom: 3px solid rgb(223, 222, 218); */
}
#profile-user-info2::after { /* added */
  content: '';
  position: absolute;
  left: 5%;
  bottom: 0;
  height: 3px;
  width: 90%;
  background-color: rgb(223, 222, 218);
}
#profile-info-field{
  margin-left: 5%;
  min-width: 200px;
}
#profile-info-field #profile-nickname{
  margin-bottom: 20%;
}
#profile-info-field #profile-count div{
  display: inline;
}
.profile-btn{
  display: block;
  width: 50px;
  margin-top: 10px;
}
#profile-con2-2{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#profile-select-container{
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
}
#profile-select-container .profile-select{
  margin: 0px 40px;
  cursor: pointer;
}


#profile-history-container{
  flex-grow: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#profile-history-container div{
  height: 8%;
  text-align: center;
}
#profile-history-container #profile-board-bar{
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: left;
}
.profile-bar{
  flex-grow: 1;
  text-align: center;
}
#profile-bar-title{
  flex-grow: 1;
  width: 180px;
}
#profile-ect-container{
  display: flex;
  justify-content: space-between;
}
#profile-ect-container > *{
  margin: 10px;
}
table{
  /* flex-grow: 1; */
  width: 100%;
  border-collapse: collapse;
}
table > *{
  text-align: center;
  height: 70px;
}
#profile-th{
  background-color: rgb(227, 133, 66);
  height: 40px;
}
td{
  border-bottom: 1px solid black;
  height: 30px;
}
.profile-title-bar{
  min-width: 150px;
}
#profile-ect-container{
  width: 100%;
}

#profile-user-info3{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0px;
  position: relative;
  /* border-bottom: 3px solid rgb(223, 222, 218); */
}
#profile-user-info3::after { /* added */
  content: '';
  position: absolute;
  left: 5%;
  bottom: 0;
  height: 3px;
  width: 90%;
  background-color: rgb(223, 222, 218);
}


#profile-email-con{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-grow: 8;
  width: 100%;
}
#profile-email-con > *{
  flex-grow: 1;
}
#profile-email-info{
  display: flex;
  flex-direction: column;
}
#profile-email-info >*{
  margin:4px 0px;
}
#profile-text-con{
  flex-grow: 1;
  width: 100%;
  font-size: 0.8rem;
}
#profile-email-btn > button{
  background-color: rgb(250, 181, 97);
  border-style: none;
  border-radius: 5px;
  width: 50%;
  height: 30%;
  font-size: large;
}
#profile-email-btn > button:hover{
  background-color: rgb(163, 111, 48);
  cursor: pointer;
}

#profile-con3-2{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.profile-box3{
  padding: 0;
}
.profile-social-text{
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  justify-content: flex-start;
}
.profile-social-text > *{
  width: 90%;
  display: block;
  padding-top: 5%;
}
.profile-social-text1{
  /* margin-top: 5%; */
  font-size: 2rem;
  font-weight: 1000;
}
.profile-이름다떨어짐{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}
.profile-del-btn-con{
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100%;
  width: 15%;
}
.profile-del-btn{
  margin-bottom: 10%;
  background-color: rgb(190, 183, 175);
  border-style: none;
  border-radius: 5px;
  height: 10%;
  padding: 0 20px;
}
.profile-del-btn:hover{
  cursor: pointer;
  background-color: rgb(148, 143, 138);
}
.profile-social-btn{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 30%;
}

.profile-social >img{
  height: 100%;
  margin-left: 3%;
}
.profile-social >div{
  margin-right: 20%;
}
#profile-google > div{
  margin-right: 25%;
}

.profile-btn-css{
  background-color: rgb(250, 181, 97);
  border-style: none;
  border-radius: 10px;
}
.profile-btn-css:hover{
  background-color: rgb(163, 111, 48);
  cursor: pointer;
}

.profile-social{
  position: relative;
  margin-bottom: 10%;
  width: 70%;
  height: 10%;
  justify-content: space-between;
  border-radius: 10px;
  border: 1px solid black;
}

#profile-changeProfilePicBtn{
  margin-top: 30px;
  height: 30px;
  width: 80%;
  font-weight: 700;
  font-size: 15px;
  z-index: 999;
}
