.container {
	width: 500px;
	margin: 0 auto;
	padding: 20px;
}

.form-group {
	margin-bottom: 20px;
}

label {
	display: inline;
	font-weight: bold;
	margin-bottom: 5px;
}

p {
	font-size: 12px;
}

.form-control {
	width: 100%;
	padding: 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid #ccc;
	margin-top: 5px;
}

.form-control-select {
	width: 22%;
	padding: 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid #ccc;
	display: inline;
}

.btn {
	padding: 10px 20px;
	font-size: 16px;
	border-radius: 5px;
	background-color: #fc7f5d;;
	color: #fff;
	border: none;
	cursor: pointer;
}

.btn-duplication {
	background-color: #fc7f5d;
	color: #fff;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	padding: 5px 10px;
	margin-top: 2px;
	margin-left: 435px;
}

.fieldError {
	border-color: #bd2130;
}

.error {
	color: #bd2130;
	font-size: 14px;
	margin-top: 5px;
}

.checkbox-label {
	margin-right: 10px;
}

